*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1 REM = 10px */
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff;

}


.login {
  /* width: 80rem;
  height: 40rem; */
  width: 58%;
  height: 54%;
  display: flex;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  overflow: hidden;
}

@media (max-width:568px ) {
  .login {
    /* width: 80rem;
    height: 40rem; */
    width: 78%;
    height: 58%;
    
  }
}

.unal {
  width: 80%;
  background-image: url('./assets/4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 
}


@media (max-width: 968px) {
  .unal {
    width: 30%;
    background-image: url('./assets/4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
  }
}

@media (max-width: 768px) {
  .unal {
    width: 0;
  }
}

.login-form{
  width: 100%;
  background-color: #fd7e14;
  display: flex;
  padding: 1.7rem;
  flex-direction: column;
  font-size: 1.2rem;
  gap: 1rem;
  align-items: flex-start;
  justify-content: center;
  position: relative;

}

.info {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 4rem;
  font-size: 1.6rem;
  font-weight: bold;

}

.info-carnet {
  width: 100%;
  height: 100%;
  background-image: url('./assets/tarjeta-de-identificacion.png');
  background-repeat: no-repeat;
  background-size: 10rem;
  background-position: center;
}

.login-form input{
  border-style: none;
  border-radius: 8px;
  width: 90%;
  padding: 1.5rem 0;
  margin-bottom: 1.5rem;
}

.login-form input[type='email']{
  background-image: url('./assets/hombre.png');
  background-size: 2.5rem;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 5rem;
  
}

.login-form input[type='password']{
  background-image: url('./assets/contrasena.png');
  background-size: 2.5rem;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 5rem;
}

.login-form input::placeholder{
  font-size: 1.5rem;
}

.login-form input:focus{
  outline: none;
}


.btn {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 1.2rem 4rem;
  border-style: none;
  border-radius: 10px;
  transition: .2s all;
}


.btn:hover {
  background-color: #f76707;
  color: #fff;
}




@media (max-width:768px ) {
  .btn {
    width: 90%;
  }
  
}

/* Alert */

.error{
  position: absolute;
  top: 37%;
  font-size:1.3rem;
  font-weight: bold;
  background-color: red;
  padding: .7rem 1rem;
  color: black; 
}

.error-validation {
  position: absolute;
  top: 22%;
  font-size:1.4rem;
  font-weight: bold;
  background-color: red;
  padding: .7rem .5rem;
  color: #fff; 
}

/* validation page */

.validation {
  width: 100%;
  height: 100vh;
  background-image: url('./assets/unal.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
} 


.validation-form{
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(24, 23, 23, 0.678);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 5rem 2rem;
  border-radius: 11px;
  
}
.camera {
  background-color: #fff;
  color: #131212;
  align-self: flex-start;
  padding: 1rem;
  border-radius: 9px;
  background-image: url('./assets/camara.png');
  background-size: 2.5rem;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 5rem;
}

.camera:hover {
  cursor: pointer;
}


@media (max-width:950px ) {
  .validation-form{
    width: 40%;
   
  }
  
}

@media (max-width:768px ) {
  .validation-form{
    width: 60%;
   
  }
  
}

@media (max-width:490px ) {
  .validation-form{
    width: 70%;
   
  }
  
}



.validation-form input, .validation-form select {
  display: block;
  width: 100%;
  padding: .7rem;
  border-style: none;
  border-radius: 7px;
}

.validation-form div {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.btn-validation{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 1.2rem 2rem;
  border-style: none;
  border-radius: 10px;
  transition: .2s all;
}

.btn-validation:hover{
  background-color: #131212;
  color: #fff;
}

.btn-logout {
  position: absolute;
  top: 2%;
  right: 10%;
  border-style: none;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  transition: 2s all;
}

.btn-logout:hover {
  border-bottom: 1px solid black;
}

/* Photo Page */

.page-webcam {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/src/assets/a.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.box-webcam {
  display: flex;
  flex-direction: column;
  gap:1rem;
  padding: 2rem;
  background-color: rgba(24, 23, 23, 0.678);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 9px;
}

.box-webcam div{
  display: flex;
  gap:1rem;
}

.webcam {
  width: 34rem;
  text-align: center;
}
